#edit-tabset
{
	position: relative;
	.nav-tabs
	{
		width: 42px;
		position: absolute;
		margin-left: -20px;
		margin-bottom: 0;
		background: @gray-lighter;
		//top: 150px;
		top: 0;
		bottom: -20px;
		//border-right: solid 1px #ddd !important;

		> li 
		{
			& > a
			{
				cursor: pointer;
				background: white;
				color: @gray;
				&:hover 
				{
					color: @brand-primary;
				}
				margin-right: 0; 
				border: solid 1px @gray-lighter !important;
				padding: 0;
				margin-top: -3px;
				z-index: 99;
				line-height: 40px;
				text-align: center;
			}

			&.active > a
			{
				color: @brand-primary;
				border-right-color: white;
			}

			&:first-child > a
			{
				border-radius: 0 4px 0 0;
			}
			&:last-child > a
			{
				border-radius: 0;
			}
		}
	}
	.tab-content
	{
		margin-left: 40px;
		overflow: visible;
	}
}